@use "~/node_modules/bulma/bulma";

.portfolio-cards {
    .project-card:not(:last-child) {
        margin-bottom: 40px;
    }

    .project-card {
        border: 1px solid #f1f1f1;
        transition: box-shadow 0.3s;

        display: flex;
        flex-direction: row;

        .project-card-image,
        .project-card-info {
            flex-basis: 50%;
        }

        .project-card-image {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e9e9e9;

            img {
                margin-top: 75px;
                margin-bottom: 35px;
                width: 80%;
                height: fit-content;
                border-radius: 5px;
            }
        }

        .project-card-info {
            padding: 50px 50px 40px 30px;
            overflow: auto;

            .project-card-info-title {
                font-size: 18px;
                line-height: 30px;
                font-family: Roboto Mono, monospace;
                text-transform: uppercase;
                margin-bottom: 15px;
                font-weight: 700;
            }

            .project-card-info-description {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 12px;
                
                &:not(:last) {
                    margin-bottom: 45px;
                }
            }

            .project-card-info-stack {
                font-family: Roboto Mono, monospace;
                font-size: 12px;
                line-height: 18px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 15px;
            }

            .project-card-info-link {
                margin-top: 55px;
                font-family: Roboto Mono, monospace;
                font-size: 14px;
                line-height: 20px;
                float: right;
            }
        }
    }

    .project-card:hover {
        box-shadow: 0 1px 31px rgb(0 0 0 / 9%);
    }

    @include bulma.mobile {
        .project-card {
            flex-direction: column;
        }
    }
}
