.resume-list {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 20px;
    font-size: 14px;

    .resume-list-title {
        margin-bottom: 50px;
        font-weight: 700;
        letter-spacing: 5px;
        color: #999;
        text-transform: uppercase;
        font-family: Roboto Mono, monospace;
    }

    .resume-list-block {
        border-left: 2px solid #6d56c1;
        padding-left: 25px;
        padding-bottom: 50px;

        .resume-list-block-title {
            padding-bottom: 5px;
            font-weight: 700;
            color: #6d56c1;
            text-transform: uppercase;
            font-family: Roboto Mono, monospace;
        }

        .resume-list-block-date {
            padding-bottom: 10px;
            color: #999;
            font-family: Inconsolata, monospace;
        }

        .resume-list-block-description {
            font-size: 18px;
            line-height: 30px;
        }

        &.skills {
            border: 0;

            &:last-child {
                padding-bottom: 0;
            }

            .resume-list-block-title {
                margin-bottom: 10px;
            }
        }
    }

    .resume-list-block::before {
        width: 8px;
        height: 8px;
        border: 2px solid #6d56c1;
        position: absolute;
        content: "";
        border-radius: 50%;
        background-color: #fff;
        left: -3px;
    }
}
