.resume {
    &__list {
        position: relative;
        margin-bottom: 50px;
        line-height: 20px;
        font-size: 14px;

        &-title {
            margin-bottom: 50px;
            font-weight: 700;
            letter-spacing: 5px;
            color: #999;
            text-transform: uppercase;
            font-family: Roboto Mono, monospace;
        }

        &-block {
            border-left: 2px solid #6d56c1;
            padding-left: 25px;
            padding-bottom: 35px;

            &-title {
                padding-bottom: 5px;
                font-weight: 700;
                color: #6d56c1;
                text-transform: uppercase;
                font-family: Roboto Mono, monospace;
            }

            &-date {
                padding-bottom: 10px;
                color: #999;
                font-family: Inconsolata, monospace;
            }

            &-description {
                font-size: 18px;
                line-height: 30px;
                padding-bottom: 15px;
            }

            &.skills {
                border: 0;

                &:last-child {
                    padding-bottom: 0;
                }

                .resume-list-block-title {
                    margin-bottom: 10px;
                }
            }

            &::before {
                width: 8px;
                height: 8px;
                border: 2px solid #6d56c1;
                position: absolute;
                content: "";
                border-radius: 50%;
                background-color: #fff;
                left: -3px;
            }
        }
    }
}
